*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E7E7E7;
    text-align: center;
}
.topo{
    background-color: #007A29;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
}
.main{
    margin: 50px auto;
}
hr{
    margin: 15px auto;
    width: 85%;
    border: 1px solid #000;
}
.main h2{
    font-size: 32pt;
    width: 85%;
    text-align: center;
    margin: 30px auto;
}
h3{
    width: 70%;
    margin: 15px auto;
    font-weight: 500;
    font-size: 18pt;
}
.destaque_preco_red{
    color: #DA0303;
    font-size: 40pt;
    font-weight: bold;
}
.destaque_preco_green{
    color: #0B9B00;
    font-size: 60pt;
    font-weight: bold;
}
.main button{
    background-color: #0B9B00;
    color: #fff;
    border: #0B9B00;
    padding: 10px;
    font-weight: bold;
    font-size: 26pt;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
}
.main h4{
    font-size: 20pt;
}
.border{
    width: 25%;
    border:3px dashed #000;
}
.main2{
    background-color: #F89405;
    padding: 20px;
}
.imagens{
   width: 40%;
   margin: 0 auto;
}
.imagens img{
    border: 2px solid #E7E7E7;
    border-radius: 15px;
    width: 35%;
    margin: 25px;
    -webkit-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;

}
.imagens img:hover{
    transform: scale(1.1);
}
.processo_compra_img{
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 20px auto;    
}
.processo_compra_img img{
    border: 2px solid #080808;
    border-radius: 15px;
    width: 20%;
    margin: 10px;
}
.materia{
    width: 85%;
    display: flex;
    margin: 40px auto;
}
.materia img{
    width: 70%;
    -webkit-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
}
.itens{
    display: flex;
    width: 55%;
    margin: 0 auto;
}
.item{
    width: 70%;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    margin: 20px;
}
h5{
    width: 70%;
    font-size: 14pt;
    margin: 15px auto;
}
.esboco{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin: 30px auto;
}
.esboco_item{
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
    margin: 30px;
    width: 32%;
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
}
.esboco img{
    width: 65%;
}
.clientes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 75%;
    margin: 30px auto;
}
.clientes img{
    width: 55%;
    border-radius: 50%;

}
.clientes_item{
    border-radius: 15px;
    background-color: #fff;
    padding: 30px;
    margin: 30px;
    width: 32%;
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
}
.main span{
    color: #DA0303;
}
.bonus{
    margin: 30px auto;
    background-color: #fff;
    width: 35%;
    border-radius: 15px;
    padding: 30px;
    box-shadow: -1px 8px 35px -7px rgba(0,0,0,0.75);
}
.bonus img{
    width: 50%;
    border: 1px solid #000;
    border-radius: 15px;
}
.bonus h5{
    font-size: 26pt;
}
.bonus span{
    background-color: #020841;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}
.promo{
    font-size: 24pt;
    font-weight: 500;
    margin: 30px auto;
}
.fundo{
    background-color: #000;
    color: #fff;
}
.plano{
    background-color: #000;
    color: #fff;
    margin: 35px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.plano_item{
    background-color: #E7E7E7;
    color: #000;
    width: 30%;
    border-radius: 15px;
    margin: 20px;
}
.plano_item img{
    margin: 25px;
    width: 75%;
}
.destaque_plano_red{
    color: #DA0303;
}
.plano button{
    width: 65%;
    font-size: 18pt;
}
.plano h6{
    padding-top: 10px;
    font-size: 22pt;
}
.plano_item h5{
    text-align: left;
    font-weight: 400;
}
.plano p{
    margin-bottom: 10px;
}
.destaque_amarelo{
    border: 3px solid #f7e81d;
    box-shadow: -1px 8px 35px -7px rgba(245, 248, 33, 0.75);
}
.float{
    background-color: #f7e81d;
    width: 60%;
    padding: 8px;
    font-weight: 600;
    margin: -15px auto 0;
    border-radius: 20px;
}
.garantia{
    background-color: #004F75;
    margin: -40px auto;
    padding: 25px;
    color: #fff;
}
.amarelo{
    color: #f7e81d;
}
.conteudo_garantia{
    width: 60%;
    margin: 0 auto;
}
.conteudo_garantia p{
    padding: 20px;
    font-size: 18pt;
}
a{
    color: #fff;
    text-decoration: none;
}

.faq-accordion {
    max-width: 60%;
    margin: 60px auto;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.accordion-title {
    padding: 10px;
    cursor: pointer;
    display: block;
}

.accordion-content {
    padding: 10px;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .accordion-title {
    background-color: #e0e0e0;
}

input[type="checkbox"]:checked + .accordion-title + .accordion-content {
    display: block;
}

input[type="checkbox"]:checked + .accordion-title .arrow {
    content: "▲"; /* Altera a seta para cima quando o acordeão está aberto */
}

.accordion-title .arrow {
    content: "▼"; /* Set seta para baixo padrão */
}
.faq-accordion span{
    color: #000;
}
.final{
    width: 75%;
    margin: 0 auto;
}
.final h4{
    font-weight: 400;
    font-size: 16pt;
    padding: 10px;
}
.final button{
    background-color: #6101AF;
    width: 40%;
    border-radius: 30px;
    font-size: 16pt;
    margin: 15px;
}

/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    .main {
        margin: 20px auto;
    }

    .main h2 {
        font-size: 24px;
    }

    h3 {
        width: 85%;
        margin: 15px auto;
        font-weight: 400;
        font-size: 16px;
    }

    .destaque_preco_red {
        font-size: 30px;
    }

    .destaque_preco_green {
        font-size: 40px;
    }

    .main button {
        font-size: 20px;
        width: 70%;
    }

    .main h4 {
        font-size: 18px;
    }

    .main2 {
        padding: 15px;
    }

    .imagens {
        width: 70%;
    }

    .imagens img {
        width: 80%;
    }

    .processo_compra_img {
        width: 100%;
        display: block;
    }

    .processo_compra_img img {
        width: 50%;
    }

    .materia {
        width: 100%;
    }

    .materia img {
        width: 100%;
    }

    .itens {
        width: 100%;
        display: block;
    }

    .item {
        width: 90%;
    }

    h5 {
        width: 90%;
    }

    .esboco {
        width: 100%;
        display: block;
    }

    .esboco_item {
        width: 90%;
    }

    .clientes {
        width: 100%;
        display: block;
    }

    .clientes img {
        width: 80%;
    }

    .clientes_item {
        width: 90%;
    }

    .bonus {
        width: 60%;
        padding: 10px;
    }

    .bonus img {
        width: 60%;
    }

    .bonus h5 {
        font-size: 20px;
    }

    .bonus span {
        padding: 10px;
    }

    .plano {
        background-color: #000;
        color: #fff;
        margin: 20px auto;
        padding: 20px;
    }

    .plano_item {
        background-color: #E7E7E7;
        color: #000;
        width: 90%;
        margin: 20px auto;
    }

    .plano_item img {
        margin: 15px;
        width: 60%;
    }

    .destaque_plano_red {
        font-size: 30px;
    }

    .plano button {
        width: 80%;
        font-size: 18px;
    }

    .plano h6 {
        font-size: 18px;
    }

    .plano_item h5 {
        font-weight: 400;
    }

    .plano p {
        margin-bottom: 10px;
    }

    .destaque_amarelo {
        border: 3px solid #f7e81d;
    }

    .float {
        background-color: #f7e81d;
        width: 80%;
        padding: 8px;
        font-weight: 600;
        margin: -10px auto 0;
    }

    .garantia {
        background-color: #004F75;
        margin: -20px auto;
        padding: 15px;
        color: #fff;
    }

    .faq-accordion {
        max-width: 90%;
        margin: 20px auto;
    }

    .accordion-item {
        margin-bottom: 10px;
    }

    .accordion-title {
        cursor: pointer;
    }

    .accordion-content {
        padding: 10px;
    }
}

 /* Estilos específicos para dispositivos móveis */
 @media (max-width: 480px) {
    .topo{
        font-size: 12pt;
    }
    .main {
        margin: 20px auto;
    }

    .main h2 {
        font-size: 24px;
    }
    .main img{
        width: 90%;
    }
    .main button {
        font-size: 18px;
        width: 80%;
    }
    .item{
        width: 90%;
        margin: 20px auto;
    }
    .imagens img {
        width: 90%;
        margin: 10px auto;
    }
    .esboco_item{
        width: 70%;

    }
    .esboco{
        margin: 20px auto;
    }
    .materia img {
        width: 100%;
    }
    .clientes{
        width: 90%;
        margin: 20px auto;
    }
    .clientes_item{
        width: 70%;
    }
    .clientes img {
        width: 100%;
    }

    .plano {
        margin: 10px auto;
        padding: 15px;
        display: block;
    }
    .plano h5{
        font-size: 12pt;
    }
    .plano_item{
        width: 90%;
        margin: 25px auto;
    }
    .destaque_plano_red{
        font-size: 12pt;
    }
    .plano_item img {
        width: 90%;
        margin: 15px auto;
    }
    .plano_item a{
        font: 12pt;
    }
    .plano_item p{
        font-size: 10pt;
    }
    .garantia{
        margin-top: -20px;
    }
    .conteudo_garantia{
        width: 90%;
    }
}